/*Styling for tablets*/
@media screen and (max-width: 834px){
  .inputBox{
    width: 25rem;
  }
  .wholePage{
    font-size: xx-large;
  }
  .headerBar{
    font-size: xx-large;
  }
  .headerText{
    font-size: xx-large;
  }
  .desc{
    font-size: xx-large;
    margin-top: 2.5rem;
    padding: 0.625rem;
  }
  .weatherItemsbox {
    width: 100%;
    height: 13.75rem;
  }
  .datePart{
    font-size: x-large;
  }
  .namePart{
    font-size: xxx-large;
  }
  .weatherDesc{
    font-size: xxx-large;
  }
  .weatherTemp{
    font-size: xx-large;
  }
}

/* Styling for smaller devices */
@media screen and (max-width: 414px) {
  .inputBox {
    width: 15.75rem;
  }
  .wholePage {
    font-size: larger;
  }
  .headerBar{
    font-size: x-large;
  }
  .headerText{
    font-size: x-large;
  }

  .desc{
    
    padding: 0.625rem;
  }
  .weatherLottie {
    width: 12.5rem;
    height: 9.375rem;
  }
  .weatherItemsbox {
    width: 100%;
    height: 13.875rem;
  }
  .okButton {
    margin-bottom: 0.8125rem;
  }
  .fadeUp{
    position: absolute;
    top: 1.875rem;
  }
  .weatherDesc{
    font-size: xx-large;
  }
  .weatherTemp{
    font-size: x-large;
  }
}

/* Styling for the smallest devices */
@media screen and (max-width: 360px) {
  .inputBox {
    width: 15.625rem;
  }
  .weatherLottie {
    width: 9.375rem;
    height: 8.125rem;
  }
  .weatherItemsbox {
    width: 100%;
    height: 6.25rem;
  }
  .okButton {
    margin-bottom: 1rem;
  }

  .headerText{
    font-size: medium;
  }
  
  .desc{
  
    padding: 0.4rem;
  }
  .fadeUp{
    position: absolute;
    top: 1.875rem;
    height: auto;
  }
  
}
